.projects-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .projects-table th,
  .projects-table td {
    border: 1px solid #ecf0f1;
    padding: 12px;
    text-align: left;
  }
  
  .projects-table th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .projects-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .projects-table tr:hover {
    background-color: #ecf0f1;
  }